extends layouts/main
include mixins/videlBlock

block content
    .videos
        each item in videos
            +videoBlock({
              title:item.title,
              views:item.views,
              videoFile:item.videoFile
            })